*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #c9aac6;
}
.contenedor{
  display: flex;
  width: 35%; 
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  padding-top: 5%;
}